name: My First Workflow

on:
  push:
    branches:
      - main

jobs:
  hello-world:
    runs-on: ubuntu-latest
    steps:
      name: Hello world
      run: echo "Hello World from Github Actions"