name: Checkout
on:
  push:
    branches:
    - main
jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4

    - name: Display branch
      run: |
        echo "Current branch:"
        git branch --show-current
      
    - name: Display last commit
      run: |
        echo "Last commit message:"
        git log -1 --pretty=format:"%s"
