name: Checkout
on:
  push:
    branches:
    - main
jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: Display current branche
      run: git branch --show-current
    - name: Display last Commit
      run: git log -1 --pretty=format: "%s"
      